<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="catalogng"
            name="CatalogNG">
      </category>
      <view
            category="catalogng"
            class="eu.udig.catalog.ng.ui.CatalogNGView"
            icon="icons/etool16/workbench.png"
            id="eu.udig.catalog.ng.ui.CatalogNGView"
            name="CatalogNGView"
            restorable="true">
      </view>
   </extension>

</plugin>
